h1 {
  text-align: center;
}

.item {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  /* margin: 10px; */
  height: 200px;
  text-align: center;
}

.display {
  display: flex;
  justify-self: center;
  justify-content: center;
  /* border: 5px solid black; */
  height: auto;
  width: 95%;
}

.column {
  width: 16.66666667%;
}

.songs p,
.artists p,
.images img,
.lengths p,
.links a,
.delete-button {
  display: block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-size: large;
  /* width: 95%; */
}

.divider {
  height: 200px;
  width: 5px;
  background-color: black;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
}

button {
  font-size: 14px;
  padding: 5px 10px;
}